[Unit]
Description=Software AX.25 packet modem/TNC and APRS encoder/decoder
After=pulseaudio.service
BindsTo=pulseaudio.service

[Service]
User=direwolf
RuntimeDirectory=direwolf
Environment=HOME=%t/direwolf

PrivateTmp=yes
ProtectSystem=strict

ExecStart=/usr/bin/direwolf -t 0 -r 48000 -c /etc/direwolf.conf
Restart=always
RestartSec=1

Nice=-10

IPAddressAllow=127.0.0.1/8 ::1
IPAddressDeny=any

[Install]
WantedBy=multi-user.target
