[Unit]
Description=Save/Restore Sound Card State
ConditionPathExistsGlob=/dev/snd/control*
After=sound.target
BindsTo=sound.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=-/usr/sbin/alsactl -f /boot/asound.state restore
ExecStop=-/usr/sbin/alsactl -f /boot/asound.state store

[Install]
WantedBy=sound.target
