[Unit]
Description=Save/Restore Sound Card State
ConditionPathExists=!/etc/alsa/state-daemon.conf
ConditionPathExistsGlob=/dev/snd/control*
;ConditionPathExists=/boot/asound.state
After=sound.target
BindsTo=sound.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=-/usr/sbin/alsactl -f /boot/asound.state restore
ExecStop=-/usr/sbin/alsactl -f /boot/asound.state store

[Install]
WantedBy=sound.target
