[Unit]
Description=Software AX.25 packet modem/TNC and APRS encoder/decoder
After=pulseaudio.service
BindsTo=pulseaudio.service

[Service]
User=direwolf
RuntimeDirectory=direwolf
Environment=HOME=%t/direwolf
PrivateTmp=yes
ProtectSystem=strict
ExecStartPre=+/bin/cp -f /boot/direwolf.conf /etc/direwolf.conf
ExecStartPre=+/bin/chmod a+r /etc/direwolf.conf
ExecStart=/usr/bin/direwolf -t 0 -c /etc/direwolf.conf
Restart=always
RestartSec=1
CPUSchedulingPolicy=rr

[Install]
WantedBy=multi-user.target
