[Unit]
Description=Hamlib TCP rig control daemon

[Service]
DynamicUser=yes
Group=dialout
ConditionPathExists=/boot/rigctld.txt
EnvironmentFile=-/boot/rigctld.txt
ExecStart=/usr/bin/rigctld -vv $OPTIONS

Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
