[Unit]
Description=Hamlib TCP rig control daemon

[Service]
DynamicUser=yes
Group=dialout
EnvironmentFile=-/etc/default/rigctld
ExecStartPre=-+/bin/cp -f /boot/rigctld.txt /etc/default/rigctld
ExecStart=/usr/bin/rigctld -vv -T 127.0.0.1 $OPTIONS

Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
