[Unit]
Description=Generate %I SSH Host Key
ConditionPathExists=!/boot/ssh_host_%I_key
After=rngd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/ssh-keygen -t %I -f /boot/ssh_host_%I_key
