[Unit]
Description=OpenSSH server daemon
Requires=ssh-host-key@rsa.service ssh-host-key@ecdsa.service ssh-host-key@ed25519.service ssh-authorized-keys.service
After=ssh-host-key@rsa.service ssh-host-key@ecdsa.service ssh-host-key@ed25519.service ssh-authorized-keys.service

[Service]
ExecStart=/usr/sbin/sshd -i -e \
	-o AuthorizedKeysFile=/var/lib/ssh/%%u_authorized_keys \
	-o PasswordAuthentication=no \
	-h /var/lib/ssh/ssh_host_rsa_key \
	-h /var/lib/ssh/ssh_host_ecdsa_key \
	-h /var/lib/ssh/ssh_host_ed25519_key
SuccessExitStatus=255
StandardInput=socket
StandardOutput=socket
StandardError=journal
