[Unit]
Description=OpenSSH server daemon
Requires=ssh-host-key@rsa.service ssh-host-key@ecdsa.service ssh-host-key@ed25519.service 
After=ssh-host-key@rsa.service ssh-host-key@ecdsa.service ssh-host-key@ed25519.service 

[Service]
ExecStart=/usr/sbin/sshd -i -e 
StandardInput=socket
StandardOutput=socket
StandardError=journal

