CONFIG_CMDLINE="console=ttyAMA0,115200 kgdboc=ttyAMA0,115200"

CONFIG_SQUASHFS=y
CONFIG_SQUASHFS_4K_DEVBLK_SIZE=y
CONFIG_SQUASHFS_DECOMP_MULTI=y
CONFIG_SQUASHFS_FILE_DIRECT=y
CONFIG_SQUASHFS_ZSTD=y

CONFIG_KEY_DH_OPERATIONS=y
CONFIG_CRYPTO=y
CONFIG_CRYPTO_HASH=y
CONFIG_CRYPTO_DH=y
CONFIG_CRYPTO_SHA512=y
CONFIG_CRYPTO_USER_API=y
CONFIG_CRYPTO_USER_API_HASH=y
CONFIG_ARM64_CRYPTO=y
CONFIG_CRYPTO_SHA256_ARM64=y
CONFIG_CRYPTO_SHA512_ARM64=y
CONFIG_CRYPTO_AES_ARM64=y

